{{>layout/header}}

<style>
    /* 제목 스타일링 */
    h1 {
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid #00b333;
        margin-bottom: 20px;
    }

    /* 글 등록 버튼 스타일링 */
    .btn-primary {
        display: block;
        background-color: #00b333;
        border-color: #f8f9fa;
        width: 150px;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .btn-primary:hover {
        background-color: #0e8a00;
        border-color: #0e8a00;
    }

    /* 테이블 스타일링 */
    .table {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .thead-strong th {
        background-color: #00b333;
        color: white;
    }

    #tbody tr:hover {
        background-color: #f8f9fa;
    }

    /* 로그인 버튼 스타일링 */
    .btn {
        padding: 10px 15px;
        border-radius: 25px;
        border: none;
        margin-right: 10px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .btn:hover {
        transform: scale(1.05);
    }

    .btn img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }

</style>

<h1>판다 게시판🐼🐼</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
        <div class="col-md-6 text-right">
            {{#userName}}
                <div class="btn btn-light">Logged in as: <span id="user">{{userName}}</span></div>
                <a href="/logout" class="btn btn-light" role="button">
                    <img src="https://cdn-icons-png.flaticon.com/512/3596/3596149.png" alt="로그아웃" style="margin:0;">
                </a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-light" role="button">
                    <img src="https://www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png"
                         alt="Google Logo"> Google
                </a>
                <a href="/oauth2/authorization/naver" class="btn btn-light" role="button">
                    <img src="https://s.pstatic.net/static/www/nFavicon96.png" alt="Naver Logo"> Naver
                </a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}
