{{>layout/header}}

<style>
    /* 제목 스타일링 */
    h1 {
        text-align: center;
        padding: 20px 0;
        border-bottom: 2px solid #00b333;
        margin-bottom: 30px;
    }

    /* 폼 스타일링 */
    .form-group {
        margin-bottom: 20px;
    }

    /* 버튼 스타일링 */
    #btn-update {
        background-color: #00b333;
        border-color: #f8f9fa;
        margin-left: 10px;
    }

    #btn-delete {
        background-color: #f44336;
        border-color: #f8f9fa;
        margin-left: 10px;
    }

    .btn {
        width: 100px;
    }

    /* 중앙 배치 */
    .centered-col {
        display: flex;
        justify-content: center;
    }

</style>

<h1>게시글 수정</h1>

<div class="col-md-12 centered-col">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <input type="text" class="form-control" id="id" value="{{post.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control" id="author" value="{{post.author}}" readonly>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" rows="5">{{post.content}}</textarea>
            </div>
        </form>
        <div class="text-right"> <!-- 버튼들을 오른쪽에 정렬하기 위해 추가 -->
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
            <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
        </div>
    </div>
</div>

{{>layout/footer}}